#title{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#h1{
    background-color: maroon;
    color: gold;
    padding: 40px;
    text-align: center;
}

.button{
    background-color: maroon;
    color: gold;
    text-align: center;
    display: inline-block;
    font-size: medium;
    
}

#content p{
    background-color: maroon;
    color: gold;
    border-radius: 2px;
    padding: 5px;

}

a {
    border-top: 5px solid yellow;
    border-bottom: 5px solid yellow;
    color: black;
}

#row2 {
    justify-content: center;
    align-items: center;
    display: flex;
}

a:hover {
    
    color: hotpink;
    transition: .5s;
    background-color: navy;
    border-top: 5px solid  red;
    border-bottom: 5px solid red;
  }

